<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>The Ribs Steakhouse</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="fontes/openSans" rel="stylesheet">
        <script type="text/javascript" src="js/jquery-3.2.1.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
        <script>
            // You can also require other files to run in this process
            require('./renderer.js')
        </script>
        <script type="text/javascript">

            var tamanhoJanelaAlturaCorpo;

            $(document).ready(function(){
                configurarTamanhos();
            });

            function configurarTamanhos(){
                tamanhoJanelaAlturaBody = $(window).height() - $("header").height() - $("footer").height() - ($(window).height() / 100)*2;
                tamanhoJanelaAlturaCorpo = (tamanhoJanelaAlturaBody - $("#corpo").height()) / 2;

                $("section").css({"height":tamanhoJanelaAlturaBody});
                $("#corpo").css({"padding-top":tamanhoJanelaAlturaCorpo});
            }

            $(window).resize(function(){
                configurarTamanhos();
            });
        </script>
    </head>
    <body>
        <div id="esqueleto">
            <header>
                <img src="arquivos/logo.png"/>
                <span>The Ribs Steakhouse</span>
            </header>

            <section>
                <div id="corpo">
                    <h1>Selecione uma unidade:</h1>
                    <div id="divBtn">
                        <button class="btns" title="Em produção." style="background-color:red">Prédio Comercial</button>
                        <a href="escolha_restaurante.ejs">
                            <button class="btns">Restaurante</button>
                        </a>
                    </div>
                </div>
            </section>

            <footer>

            </footer>
        </div>


    </body>
</html>
