<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>The Ribs Steakhouse</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/preparacao_pedido.css">
        <link href="fontes/openSans" rel="stylesheet">
        <script src="http://localhost:8100/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="js/jquery-3.2.1.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
        <script type="text/javascript">

            var socket = io.connect("http://localhost:8100"),
                ready = false;

            var mysql = require('mysql');
            con = mysql.createConnection({
              //host: "10.107.144.13",
              host: "localhost",
              //host: "10.107.134.26",
              //host: "10.107.134.15",
              user: "root",
              password: "bcd127",
              //password: "",
              database: "dbtheribssh"
            });

            con.connect();


            var tamanhoJanelaAlturaCorpo;

            $(document).ready(function(){

                var idrestaurante = localStorage.getItem('idrestaurante');

                socket.emit("selectPedidos", idrestaurante);
                socket.on("resultadoPedido", function(resposta){
                    $("#div_agrupadoraInfo").html(resposta);
                });

                configurarTamanhos();
            });

            function abrirInformacoes(idpedido){
                socket.emit("selectInfoPedido", idpedido);
                socket.on("resultadoGarcomMesa", function(resposta){
                    $("#div_nomeGarcomMesa").html(resposta);
                });
                socket.on("resultadoProdutoQntd", function(resposta){
                    $("#div_ingredienteProduto").html(resposta);
                });
            }

            function status(_idstatus, _idpedido){
                socket.emit("mudarStatus", _idstatus, _idpedido);
            }

            var clique = 0;
            function mostrarIngrendientes(idproduto){
                if(clique == 1){
                    $("#titulo_ingredientes"+idproduto).animate({"height":"0px"});
                    $("#div_ingredientesNomes"+idproduto).animate({"height":"0px"});
                    clique = 0;
                }else{
                    socket.emit("selectIngredientesProdutos", idproduto);
                    socket.on("resultadoIngredienteProduto"+idproduto, function(resposta){
                        clique = 1;
                        $("#titulo_ingredientes"+idproduto).animate({"height":"40px"});
                        $("#div_ingredientesNomes"+idproduto).animate({"height":"250px"});
                        $("#div_ingredientesNomes"+idproduto).html(resposta);
                    });
                }
            }

            function configurarTamanhos(){
                tamanhoJanelaAlturaBody = $(window).height() - $("header").height() - $("footer").height() - ($(window).height() / 100)*2;
                tamanhoJanelaAlturaCorpo = (tamanhoJanelaAlturaBody - $("#corpo").height()) / 2;

                $("section").css({"height":tamanhoJanelaAlturaBody});
                $("#div_emPreparacao").css({"height":tamanhoJanelaAlturaBody});
                $("#info_pedido").css({"height":tamanhoJanelaAlturaBody});
                $("#linha_divisoria").css({"height":tamanhoJanelaAlturaBody});
            }

            $(window).resize(function(){
                configurarTamanhos();
            });
        </script>
    </head>
    <body>
        <div id="esqueleto">
            <header>
                <img src="arquivos/logo.png"/>
                <span>The Ribs Steakhouse</span>
            </header>

            <section>
                <a href="escolha_restaurante.ejs">
                    <div id="botao_voltar" title="Voltar a página anterior.">
                        <img src="img/voltar.png" alt="">
                    </div>
                </a>
                <div id="corpo">
                    <!--Em preparação-->
                    <div id="div_emPreparacao">
                        <!--Titulo-->
                        <div class="tituloInfo_caixa">
                            <span class="titulo">Em preparação</span>
                        </div>
                        <div id="div_agrupadoraInfo">

                        </div>
                    </div>
                    <!--Divisor-->
                    <div id="linha_divisoria">
                    </div>
                    <!--Informações detalhadas pedido-->
                    <div id="info_pedido">
                        <!--Titulo-->
                        <div id="div_nomeGarcomMesa" class="tituloInfo_caixa">
                        </div>
                        <!--Ingredientes-->
                        <div  id="div_ingredienteProduto" class="div_ingredientes">
                        </div>
                    </div>
                </div>
            </section>

            <footer>

            </footer>
        </div>


    </body>
</html>
