*{
    margin: 0;
    padding: 0;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/*Estilização do Scroll*/
/*Chrome*/
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}


/*Serve para tirar as bordas azuis no chrome*/
textarea:focus, input:focus, select:focus {
    outline: 0;
}

body{
    background:#676b80;
}

#esqueleto{
    width: 99%;
    height: 99%;
    padding: 0.5%;
    overflow: auto;
    background: #676b80;
}
header{
    width: 100%;
    height: 100px;
    background: #676b80;
}

header img{
    width: 125px;
    height: 88px;
    margin-left: 5px;
    margin-top: 5px;
    z-index: 2;
    position: absolute;
}

header span{
    width: 100%;
    float: left;
    height: 90px;
    text-align: center;
    line-height: 90px;
    margin-top: 5px;
    color: #fff;
    font-size: 42px;
    font-family:'Open Sans', sans-serif;
}
section{
    background-color: #fff;
    overflow:hidden;
    width: 100%;
}
section h1{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    padding-bottom: 50px;
    font-family:'Open Sans', sans-serif;
}
footer{
    width: 100%;
    height: 100px;
    background-color:#676b80;
}

#corpo{
    width: 100%;
}

#divBtn{
    width:400px;
    margin-left: auto;
    margin-right: auto;
}

#botao_voltar{
    -webkit-transition:0.3s;
    width:80px;
    height:80px;
    border-radius:100%;
    background-color:#676b80;
    margin-top:10px;
    margin-left:10px;
    display:flex;
    align-items:center;
    cursor:pointer;
    position:absolute;
}

#botao_voltar img{
    width:40px;
    height:40px;
    margin-left:auto;
    margin-right:auto;
}

.btns{
    width:200px;
    height: 50px;
    border:0px;
    margin-left: 100px;
    background-color: #676b80;
    color:#fff;
    cursor:pointer;
    font-family:'Open Sans', sans-serif;
}

.btns:last-child{
    margin-top:10px;
}

.btns:hover, #botao_voltar:hover{
    -webkit-transition:0.3s;
    background-color:#80859e;
}
